.card {
    width: 350px;
    border-radius: 16px;
    position: relative;
    margin: 20px;
    &:hover > &__image {
        transform: scale(1.1);
        overflow: hidden;
        transition: all 0.3s linear;
    }

    &:hover > &__name > &__name-movie{
        color: #2f80ed;
    }

    &__image {
        width: inherit;
        border-radius: inherit;
        overflow: hidden;
        transition: all 0.3s linear;
    }
    &__icon {
        position: absolute;
        top: 20px;
        width: 100%;
    }
    &__iconn {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        color: #2f80ed;
        font-weight: bold;
    }
    &__name {
        position: absolute;
        bottom: 60px;
        left: 30px;
        color: white;
        &-movie {
            padding: 0;
            margin: 0;
            line-height: 120%;
            font-weight: 500;
            transition: 0.45s;
            font-size: 22px;
        }
        &>ul {
            display: flex;
            font-size: 14px;
            justify-content: flex-start;
            padding: 0;
            &>li {
                margin-right: 10px;
            }
        }
    }
}