.header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: #131720;
    align-items: center;
    height: 100px;
    &__logo {
        color: white;
    }
    &__list-items {
        display: flex;
        &>li {
            margin: 0 10px;
            &>a {
                display: inline-flex;
                align-items: center;
                font-size: 18px;
                color: #e0e0e0;
                line-height: 22px;
                height: 22px;
                font-weight: 500;
                &>.dot {
                    font-size: 14px;
                    margin-left: 4px;
                }
            }
            &>.active {
                color: #2f80ed;
                &>.dot {
                    color: #2f80ed;
                }
            }
        }
    }
    &__form {
        &-input {
            position: relative;
            &-search{
                outline: none;
                height: 40px;
                border-radius: 16px;
                background-color: #151f30;
                border: none;
                padding: 0 60px 0 20px;
                font-size: 14px;
                color: #fff;
            }
            &-icon {
                position: absolute;
                fill: #2f80ed;
                transition: fill 0.5s;
                right: 15px;
                top: 10px;
            }
        }
    }

    &__sign-in {
        &>a {
            display: flex;
            justify-content: center;
            align-items: center;
            &>span {
                font-size: 18px;
                color: #e0e0e0;
                line-height: 22px;
                height: 22px;
                font-weight: 500;
            }
        }
        &-icon {
            font-size: 22px;
            color:#2f80ed;
            margin-left: 15px;
        }
    }

}
